<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Some Website </title>
  </head>

  <body>
   
   <h1> WE WILL BE RIGHT BACK</h1>
   <p>Servie currently under maintenance</p>
   
 {{> footer}}
  </body>

</html>